streamlit
streamlit-folium
folium
plotly
httpx
sqlalchemy
psycopg2-binary
alembic
shapely
geopandas
numpy
pandas
scikit-learn
python-dotenv
pydantic-settings
geoalchemy2
streamlit-geolocation
streamlit-autorefresh
fpdf2